@font-face {
    font-family:"Iowa";
    src: url(fonts/2131-font.ttf);
}



*{
   box-sizing: border-box;
}

.navbar {
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   position: relative;
   align-items: center;
}


.navbar-links ul{
   margin: 0;
   padding: 0;
   display: flex;
}


.navbar-links li{
   list-style: none;
   
}

.navbar-links li a {
   text-decoration: underline;
   color: white;
   padding: 1rem;
   display: block;
   
}


.navbar-links li:hover{
   background-color: #555;
}

.toggle-button {
   position: absolute;
   top: .75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
}

.toggle-button .bar {
   height: 3px;
   width: 100%;
   background-color: white;
   border-radius: 10px;
}









a:link{
   color: white;
}

  
a:visited{
   color: white;
}

 .body{
    background-color: #131313;
    margin-left: 150px;
   
 }


 .marco{
    color: #f7f1ff;
    margin-bottom: 50px;
 }


 .introduction{
    color: #f7f1ff;
    font-size: 20px;
    text-align: left;
    position: relative;
    margin-right: 200px;
   
 }


 .avatar{
    width: 430px;
    height: 430px;
    right: 2%;
    position: fixed;
 }


.footer{
    
    bottom: 0;
    font-size: 10px;
    color: red;
}


.small_marco{
   display: none;
}




/*PHONE VIEW*/

@media (max-width: 800px) {
   .navbar {
       flex-direction: column;
       align-items: flex-start;
   
   }

   .toggle-button {
       display: flex;

       
   }

   .navbar-links {
       display: none;
       width: 100%;
   }

   .navbar-links ul {
       width: 100%;
       flex-direction: column;
   }

   .navbar-links ul li {
       text-align: center;
   }

   .navbar-links ul li a {
       padding: .5rem 1rem;
   }

   .navbar-links.active {
       display: flex;
   }

   .introduction{
      width: 100%;
      padding: 0%;
      text-align: left;
    
   }
   
   .small_marco{      
      width: 70%;
      bottom: 3%;
     
    ;
   }
      

   .avatar{
      display: none;
   }  



 .body{
   margin-top: 100px;
   margin-left: 5%;
   margin-top: 5%;
   margin right: 5%;
   
 }


.small_marco{
   display: block;
   position: a;
   bottom: 0%;
   margin-top: 20px;
   width: 100%;
   border-radius: 5px;
}



 .marco{
   margin-top: 50px;
 }
   }















